body{
    width: 100%;
    margin: 0px;
    background-color: #AB8FC7;
}
.leftnav{
    height: 700px;
    width: 5%;
    float: left;
    background-color: #AB8FC7;
    display: inline-block;
}
.main{
    height: 100%;
    width: 95%;
    margin: 0px;
    float: left;
    color: white;
    display: block;
    background-color: #663399;
}
header{
    padding-top: 30px;
    padding-left: 40px;
    animation: 0.5s ease-out 0s 1 slideInFromRight;
}
.topnav{
    width: 100%;
    clear: none;
    display: inline-block;
}
#topnavleft{
    padding: 10px 0px 10px 40px;
    height: 50px;
    float: left;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
#topnavright{
    padding: 10px 40px 10px 0px;
    height: 50px;
    float: right;
    animation: 0.5s ease-out 0s 1 slideInFromLeft;
}
#search{
    height: 20px;
    border: none;
    background-color: #AB8FC7;
}
#search::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: white;
    opacity: 1; /* Firefox */
}
#line{
    margin: 0px 10px 0px 10px;
    display: inline-block;
}
.navbtn1{
    height: inherit;
    margin-right: 20px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
}
.navbtn2{
    height: inherit;
    margin-left: 10px;
    border: none;
    font-size: 20px;
    color: white;
    background-color: inherit;
    cursor: pointer;
    display: inline-block;
}
.navbtn2:active{
    color: springgreen;
}

section{
    margin-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    animation: 0.5s ease-out 0s 1 slideInFromButtom;
}
.block{
    width: 250px; /*view: l-100%  b-250px*/
    height: 200px;/*view: l-100px b-200px*/
    margin: 10px;
    padding: 10px;
    background-color: #855CAD;
    transition: opacity 0.2s;
}
section:hover div:not(:hover) {
  opacity: 0.2;
}

footer{
    padding-top: 80px;
    padding-left: 40px;
    background-color: rgb(65, 65, 65);
}


@keyframes slideInFromLeft {
    0%{
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
@keyframes slideInFromRight {
    0%{
      opacity: 0;
      transform: translateX(50%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}@keyframes slideInFromButtom {
    0%{
      opacity: 0;
      transform: translateY(20%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}
/*copy from http://ianlunn.github.io/Hover/ */
/* Underline From Center */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: #AB8FC7;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}